### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
lib/
lib64/
var/
MANIFEST
.DS_Store

# RStudio Data 
.RData
PDSA.Rproj
rsconnect-python/
.Rproj.user
.Rhistory

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.venv
.env
env.py