### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
lib/
lib64/
var/
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.venv
.env

